body
{
	margin:0px;
	padding:0px;
}
body, div, td
{
	font: 13px 'Open Sans';
	line-height:2em;
}
.prettyprint
{
	line-height:1.2em;
	padding:30px;
	border:0px !important;
}
input, select, textarea
{
	border-radius: 5px;
	border:1px solid #ccc;
	padding:5px;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}
.container
{
	padding:0px;
}
.top
{
	padding:30px;
}
.content
{
	padding:20px;
	padding-top:0px;
	min-width:280px;

}
.content h2
{
	text-transform:uppercase;
}

.content-left
{
	text-align:center;
}
.row .column
{
	display:inline-block;
	vertical-align:top;
}

.clear
{
	clear:both;
}

.title
{
	font-size:2.8em;
	font-weight:bold;
}
.index
{
	margin-top:40px;
	margin-bottom:60px;
}
.index
{
	list-style:none;
	line-height:2.4em;
}
.index a
{
	text-decoration:none;
	color:#1f71cf;
}
.index .first
{
	font-weight:bold;
}
.index .second
{
	font-weight:normal;
	margin-left:20px;
}
#search
{
	padding:30px;
}

.search-button
{
	border-radius: 5px;
	border:0px;
	padding:6px;
}

.search-input
{
	display: inline-block;
}

#menu
{
	padding:30px;
	clear:both;
}
#menu ul
{
	padding:0px;
	margin:0px;
}
#menu li
{
	display:inline-block;
	margin-left:10px;
}
#menu a
{
	margin: 10px;
	font-size: 17px;
	text-decoration: none;
	text-transform:uppercase;
	color:#000;
}

/* Content CSS */

#menu-left1 ul
{
	margin:10px 0px 10px 0px;
	padding:15px;
	padding-top:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:220px;
}

#menu-left1 a
{
	text-decoration:none;
	color:black;
	font:12px Dosis;
	font-weight:600;
	text-transform:uppercase;
}

#menu-left1 li
{
	list-style:none;
	padding:6px;
	padding-left:12px;
	margin-bottom: 4px;
	border-left:4px solid transparent;
	background-color:#eee;
	border-left:4px solid #ccc;
	font-size:11px;
	cursor:pointer;
}

#menu-left1 li:hover
{
	color:#444;
	background-color:#ddd;
	border-left:4px solid #888;
}

#menu-left1 li.selected
{
	border-left:4px solid black;
}

#menu-left1 span
{
	font-size:10px;
	color:#999;
	text-transform:uppercase;
}

.folder li
{
	margin-bottom:10px;
}
.readmore
{
	text-decoration:none;
	font-size:0.9em;
}