<form method='post' action='/nodes/<?php echo $this->view['node_id']; ?>/edition'>
<input type="hidden" name="parent_id" value="<?php echo $this->view['parent_id']; ?>">
<input type="hidden" name="type" value="<?php echo $this->view['type']; ?>">
<input type="hidden" name="status" value="1">

<div class='title'>^^[Client]^^</div>
<div class='subtitle'>^^[My profile]^^</div><br>

<table cellspacing='10'>
<tr>
<td class='rotateText'><div><p>^^[Profile]^^</p></div></td>
<td>

    <table cellpadding='4'>
    <tr><td width='80'><label>^^[Name]^^</label></td><td><input type="text" name="title" style="width:500px;"></td></tr>
    <tr><td><label>^^[E-mail]^^</label></td><td><input type="text" name="email" style="width:500px;"></td></tr>
    <tr><td><label>^^[Address]^^</label></td><td><input type="text" name="address" style="width:500px;"></td></tr>
    <tr><td><label>^^[Post code]^^</label></td><td><input type="text" name="cep" style="width:240px;"></td></tr>
    <tr><td><label>^^[Phone]^^</label></td><td><input type="text" name="phone" id="phone" style="width:240px;"></td></tr>
    <tr><td><label>^^[Mobile]^^</label></td><td><input type="text" name="mobile" id="mobile" style="width:240px;"></td></tr>
    </table>

</td>
</tr>
<tr>
<td class='rotateText'><div><p>^^[Payment]^^</p></div></td>
<td>

    <table cellpadding='4'>
    <tr><td width='80'><label>^^[Name]^^</label></td><td><input type="text" name="name" style="width:500px;"></td></tr>
    <tr><td><label>^^[Number]^^</label></td><td><input type="text" name="email" style="width:500px;"></td></tr>
    <tr><td><label>^^[Security code]^^</label></td><td><input type="text" name="code" style="width:200px;"></td></tr>
    <tr><td><label>^^[Expiration]^^</label></td><td><input type="text" name="phone" id="phone" style="width:500px;"></td></tr>
    </table>

</td>
</tr>
<tr>
<td></td>
<td>
    <input type="submit" value="^^[Save]^^" style="width:120px;">
    <input type="button" value="^^[New]^^" onclick="window.open('/nodes/0/edition', '_top');" style="width:120px;">
</td>
</tr>
</table>
</form>

<script>
$(document).ready(function() {

    var data = <?php echo isset($this->view['node_json']) && $this->view['node_json'] ? $this->view['node_json'] : "''"; ?>;

    if (data) {
        $.each(data, function(k, v) {
            $('[name='+k+']').val(v);
        });
    }
});
</script>