<form id="permissions_form">
<input type="hidden" name="permission_id">

<h1 class='title'>Permissions Module</h1>
<span class='subtitle'>Permissions maintenance and administration</span>

<table cellspacing='10' width='100%'>
<tr>
<td class='rotateText'><div><p>^^[Info]^^</p></div></td>
<td>

	<table cellpadding="4" cellspacing="0">
	<tr>
	<td><label>^^[Description]^^</label><br><input type="text" name="permission_description" style="width:350px"></td>
	<td colspan="2"><label>^^[Status]^^</label><br><select type="text" name="permission_status" style="width:200px"><option value="1">^^[Enabled]^^</option><option value="0">^^[Disabled]^^</option></select></td>
	</tr>
	<tr>
	<td><label>^^[Hierarchy]^^</label><br><select name="permission_order" style="width:350px"><option value="6">^^[None]^^</option><option value="5">^^[Copper]^^</option><option value="4">^^[Bronze]^^</option><option value="3">^^[Silver]^^</option><option value="2">^^[Gold]^^</option><option value="1">^^[Diamond]^^</option></select></td>
	<td><label>^^[Superuser]^^</label><br><select name="global_user" style="width:200px" onchange="permissions_superuser()"><option value="0">^^[No]^^</option><option value="1">^^[Yes]^^</option></select></td>
	</tr>
	</table>

	<p><input type="button" name="save" value="^^[Save]^^" style="width:90px;"> <input type="reset" value="^^[New]^^" style="width:90px;" onclick="permissions_new();"></p>

</td>
</tr>
<tr id="permission_tr">
<td class='rotateText'><div><p>^^[Permissions]^^</p></div></td>
<td>

	<div id="permission_actions" style="padding:10px;min-height:100px;"></div>
	
</td>
</tr>
</table>
</form>

<div style="padding:10px;"><div class="grid" id="permissions_form_grid"></div></div>

<script>
var permission_id = 0;

$(document).ready(function() {
	
	$('#permissions_form').form({ url:bossanova_url + 'admin/permissions', primarykey:'permission_id' });

	$('#permissions_form_grid').grid({
		url:bossanova_url + 'admin/permissions/grid',
		columns:[
			{title:'^^[ID]^^',width:'40'},
			{title:'^^[Name]^^',width:'*', search:'1'},
			{title:'^^[Status]^^',width:'100', search:'2', search_combo:{'1':'^^[Active]^^','0':'^^[Inactive]^^'}},
			{title:'',width:'40'}
			],
		actions:[
			{title:'^^[Open]^^',icon:'img/open.png',click:'permissions_open'},
			{title:'^^[Delete]^^',icon:'img/delete.png',click:'permissions_delete'}
			]
	});

	permission_actions_list(0);
});

function permissions_new ()
{
	$('#permissions_form').find('[name="permission_id"]').val('');
	permission_actions_list(0);
	$('#permission_actions').find('input').removeAttr("disabled");
	$('#permission_tr').css('display', '');
}

function permissions_open (id)
{
	permission_id = id;
	$('#permissions_form').form('open', id, function () {
		permissions_superuser();
		permission_actions_list(id);
	});
}

function permissions_delete (id)
{
	if (confirm('^^[Are you sure]^^?'))
	{
		$('#permissions_form').form('delete', id);
	}
}

function permission_actions_list (id)
{
	$.get(bossanova_url + 'admin/permissions/actions/' + id, function(data) {
		$('#permission_actions').html(data);
	});
}

function permissions_superuser ()
{
	var o = $('#permissions_form').find('[name="global_user"]').val();

	if (o == 1) {
		$('#permission_actions').find('input').attr("disabled", "true");
		$('#permission_tr').css('display', 'none');
	} else {
		$('#permission_actions').find('input').removeAttr("disabled");
		$('#permission_tr').css('display', '');
	}
}

function permissions_filter_add ()
{
	$('#permission_filters tr.filter:last').after('<tr class="filter"><td><select name="filter_name[]" style="width:200px"><option value="1">^^[Country]^^</option><option value="2">^^[Time inserted]^^</option><option value="3">^^[Indication]^^</option><option value="4">^^[Qrtwid]^^</option></select></td><td><select type="text" name="filter_operator[]" style="width:200px"><option value="<=">&lt;=</option><option value=">=">&gt;=</option><option value="==">==</option><option value="in">IN</option></select></td><td><input type="text" name="filter_value[]" value="" id="filter_value"> <input type="button" value="x" style="border:0px;background-color:transparent;" onclick="$(this).parent().parent().remove();"></td></tr>');
	$("#no_filters").remove();
}

function permissions_filter_del (o)
{
	$(o).parent().parent().remove();
}

function updateColor (obj) {
	if ($(obj).val() == 0) {
		$(obj).parent().parent().css('color', 'red');
	} else {
		$(obj).parent().parent().css('color', 'green');
	}
}
</script>