<html>
<head>
<title>Bossanova PHP Framework</title>
<meta id="viewport" name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="css/admin.css" type="text/css" />
<script src="bossanova.js"></script>

</head>
<body>


<form id="login">
<table height="90%" align="center">
<td>

    <div class="login" id='a1'>
        <table cellpadding='6'>
        <tr><td colspan='2'><img src='img/logo.png'></td></tr>
        <tr><td><b>^^[E-mail]^^</b><br><input name='username' id='username' style='width:200px;'></td></tr>
        <tr><td><b>^^[Password]^^</b><br><input type='hidden' name='password'><input type='password' style='width:200px;' onkeyup='if (event.keyCode == 13) doAction();'></td></tr>
        <tr><td><a onclick="action(2);" style='cursor:pointer;text-decoration:underline'>^^[Forget your password]^^?</a></td></tr>
        <tr><td><input type="checkbox" name="remember" id="remember" value="1" checked="checked"><span>^^[Remember me on this computer]^^</span></td></tr>
        <tr><td><input type='button' value='^^[Login]^^' style='width:200px;' class='circ1' onclick='doAction(1)'></td></tr>
        </table>
    </div>

    <div class="login" id='a2' style='display:none;'>
        <input type='hidden' name='recovery' id='recovery' value='1'>
        <table cellpadding='6'>
        <tr><td colspan='2'><img src='img/logo.png'></td></tr>
        <tr><td><b>^^[E-mail]^^</b><br><input name='username' id='username' style='width:200px;'></td></tr>
        <tr><td><input type='button' value='^^[Login]^^' style='width:200px;' class='circ1' onclick='doAction(2)'></td></tr>
        </table>
        <a onclick="action(1);" style='cursor:pointer;text-decoration:underline'>^^[Back]^^</a>
    </div>

    <div class="login" id='a3' style='display:none;'>
        <input type='hidden' name='password' value=''>
        <table cellpadding='6'>
        <tr><td colspan='2'><img src='img/logo.png'></td></tr>
        <tr><td><b>^^[New Password]^^</b><br><input type='password' id='password1' style='width:200px;'></td></tr>
        <tr><td><b>^^[Confirm Password]^^</b><br><input type='password' id='password2' style='width:200px;'></td></tr>
        <tr><td><input type='button' value='^^[Reset password]^^' style='width:200px;' class='circ1' onclick='doAction(3)'></td></tr>
        </table>
        <a onclick="action(1);" style='cursor:pointer;text-decoration:underline'>^^[Cancel]^^</a>
    </div>

</td>
</table>
</form>

<script>
$(document).ready(function () {
    // Query string
    var q = window.location.href.split('?');
    // Restore procedure
    if (q[1] && q[1].substr(0,2) == 'h=') {
        action(3);
    }
});

function action(i)
{
    $('#a1').css('display', 'none');
    $('#a2').css('display', 'none');
    $('#a3').css('display', 'none');
    $('#a' + i).css('display', '');
}

function doAction(i)
{
    if (i == 2) {
        // Restore password
        var string = '#a2 input, #a2 select';
    } else if (i == 3) {
        // Reset password
        var string = '#a3 input, #a3 select';
        string = $(string);

        // Create your policy
        if ($('#password1').val()) {
            if ($('#password1').val() == $('#password2').val()) {
                $(string[0]).val(SHA512($(string[2]).val()));
            } else {
                alert('^^[Passwords must match]^^');

                return false;
            }
        } else {
            alert('^^[Please enter a valid password]^^');

            return false;
        }
    } else {
        // Normal login
        var string = '#a1 input, #a1 select';
        string = $(string);
        $(string[1]).val(SHA512($(string[2]).val()));
    }

    $.ajax({
        url: window.location.href,
        type: 'POST',
        dataType:'json',
        data: $(string).serializeArray(),
        success: function(result) {
            if (result) {
                if (result.message && ! result.success) {
                    alert(result.message);
                }
                if (result.url) {
                    window.open(result.url, '_top');
                }
            }
        }
    });
}
</script>
</body>
</html>